<hgroup>
    <h3>Cargar producto</h3>
</hgroup>
<form action="/api/productos" method="post">
    <div class="group">
        <input type="text" name="nombre"><span class="highlight"></span><span class="bar"></span>
        <label>Nombre</label>
    </div>
    <div class="group">
        <input type="text" name="precio"><span class="highlight"></span><span class="bar"></span>
        <label>Precio</label>
    </div>
    <div class="group">
        <input type="text" name="stock"><span class="highlight"></span><span class="bar"></span>
        <label>Stock</label>
    </div>
    <div class="group">
        <input type="text" name="codigo"><span class="highlight"></span><span class="bar"></span>
        <label>Codigo</label>
    </div>
    <div class="group">
        <input type="text" name="foto"><span class="highlight"></span><span class="bar"></span>
        <label>Foto</label>
    </div>
    <div class="group">
        <input type="text" name="descripcion"><span class="highlight"></span><span class="bar"></span>
        <label>Descripcion</label>
    </div>
    <button type="submit" class="button buttonBlue">Registrarse
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>