<hgroup>
    <h3>Ingresar</h3>
</hgroup>
<form method="post" action="/api/users/login">
    <div class="group">
        <input type="email" name="email" class="used"><span class="highlight"></span><span class="bar"></span>
        <label>Email</label>
    </div>
    <div class="group">
        <input type="password" name="password" class="used"><span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
    </div>
    <button type="submit" class="button buttonBlue">Ingresar
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <a href="/api/users/singin">No tenes cuenta? Registrate!</a>
</form>