<hgroup>
    <h3>Registrarse</h3>
</hgroup>
<form action="/api/users/singin" method="post">
    <div class="group">
        <input type="email" name="email" class="used"><span class="highlight"></span><span class="bar"></span>
        <label>Email</label>
    </div>
    <div class="group">
        <input type="text" name="nombre" class="used"><span class="highlight"></span><span class="bar"></span>
        <label>Nombre</label>
    </div>
    <div class="group">
        <input type="text" name="direccion" class="used"><span class="highlight"></span><span class="bar"></span>
        <label>Direccion</label>
    </div>
    <div class="group">
        <input type="text" name="edad" class="used"><span class="highlight"></span><span class="bar"></span>
        <label>Edad</label>
    </div>
    <div class="group">
        <input type="text" name="telefono" class="used"><span class="highlight"></span><span class="bar"></span>
        <label>Telefono</label>
    </div>
    <div class="group">
        <input type="password" name="password" class="used"> <span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
    </div>
    <button type="submit" class="button buttonBlue">Registrarse
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>